<form >
  <label for="fname">First name:</label>
  <input type="text" onchange=><br><br>
  <label for="lname">Tuoi:</label>
  <input type="number"><br><br>
  <button type="submit" value="Submit">xong</button>
</form>